@charset "UTF-8";
body {
  background-color: #FF9687;
  color: #c7c7c7;
  font-family: 'Nunito', sans-serif; }

.navbar-brand {
  font-family: 'Kaushan Script', cursive; }
.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem; }

#home {
  height: 70vh; }

.btn-coupon {
  width: 100%; }

.card {
  background-color: black; }

.text-red {
  color: #f83744; }

.sushi-img {
  width: 150px;
  height: 150px; }

.fab {
  font-size: 20px; }

.carousel-control-prev,
.carousel-control-next {
  width: 3.5%; }

@media (max-width: 768px) {
  .mb-resp {
    margin-bottom: 1rem; } }
/* Nav / Navbar Styles
===================================*/
.navbar {
  border-bottom: none;
  padding: 20px 0;
  transition-duration: 0.4s; }

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #183532; }

/* jQuery Styles
===================================*/
.navbar-scroll {
  background: #ffffff;
  padding: 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.4s; }

.nav-dropdown-scroll {
  background: #e7eaea;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4); }

.nav-link:hover, .nav-link.active {
  font-weight: 600 !important; }

/* nav item hover stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative; }

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 2px; }

nav.stroke ul li a:hover:after {
  width: 100%; }

nav.fill ul li a {
  transition: all 2s; }

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0; }

nav.fill ul li a:hover {
  color: #fff;
  z-index: 1; }

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1; }

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s; }

.content {
  position: absolute;
  top: 25%;
  left: 43%;
  transform: translate(-50%, -50%); }

.chopstick_1 {
  height: 400px;
  width: 15px;
  background-color: #ffe48c;
  position: absolute;
  transform: rotate(-12deg);
  border-radius: 20px;
  left: 240px;
  top: -600px;
  animation: slideDown1 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards; }

.chopstick_2 {
  height: 400px;
  width: 15px;
  background-color: #ffe48c;
  transform: rotate(-6deg);
  border-radius: 20px;
  position: absolute;
  top: -600px;
  z-index: -1;
  left: 220px;
  animation: slideDown1 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards; }

.seaweed {
  height: 95px;
  width: 95px;
  background-color: #1C3845;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 2px; }

.rice {
  height: 85px;
  width: 85px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px; }

.rice_grain_1 {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #DAF1EE;
  position: relative;
  top: 35px;
  left: 2px; }

.rice_grain_2 {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #DAF1EE;
  position: relative;
  top: 36px;
  left: 3px; }

.rice_grain_3 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #DAF1EE;
  position: relative;
  top: -11px;
  left: 25px; }

.fish {
  position: absolute;
  height: 60px;
  width: 35px;
  background-color: #FC875E;
  left: 40px;
  top: 13px;
  overflow: hidden;
  border-top-right-radius: 40px;
  /* 100px of height + 10px of border */
  border-bottom-right-radius: 40px;
  /* 100px of height + 10px of border */
  border: 0px solid #FC875E;
  border-bottom: 0; }

.veggie_1 {
  background-color: #C8D37A;
  height: 30px;
  width: 30px;
  -moz-border-radius: 30px 0 0 0;
  border-radius: 30px 0 0 0;
  top: -11px;
  left: 11px;
  position: relative; }

.veggie_2 {
  background-color: #C9C9AE;
  height: 30px;
  width: 30px;
  -moz-border-radius: 0px 0 0 30px;
  border-radius: 0px 0 0 30px;
  top: -11px;
  left: 11px;
  position: relative; }

.fish_lines_1 {
  width: 75px;
  height: 55px;
  border-radius: 50%;
  -ms-box-shadow: 0px 7px 0 0 #ffffff;
  -o-box-shadow: 0px 7px 0 0 #ffffff;
  -webkit-box-shadow: 0px 7px 0 0 #ffffff;
  box-shadow: 0px 7px 0 0 #ffffff;
  opacity: 0.3;
  left: 0px;
  top: -10px;
  position: absolute; }

.fish_lines_2 {
  width: 85px;
  height: 45px;
  border-radius: 50%;
  -ms-box-shadow: 0px 7px 0 0 #ffffff;
  -o-box-shadow: 0px 7px 0 0 #ffffff;
  -webkit-box-shadow: 0px 7px 0 0 #ffffff;
  box-shadow: 0px 7px 0 0 #ffffff;
  opacity: 0.3;
  left: -15px;
  top: -33px;
  position: absolute;
  transform: rotate(20deg); }

@keyframes slideIn {
  from {
    left: 0%; }
  to {
    margin-left: 50%; } }
@keyframes rotate {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
#sushi_2 {
  left: 120px;
  position: relative;
  animation: slideIn 3s; }

#sushi_3 {
  left: -120px;
  position: relative;
  animation: slideIn 3s; }

#sushi_2 .veggie_1 {
  background-color: #94A98E; }

#sushi_2 .veggie_2 {
  background-color: #FDC980; }

#sushi_2 .fish,
#sushi_3 .fish {
  background-color: #E98375; }

#sushi_1 .fish {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  left: 11px; }

#sushi_1 .veggies .veggie_1 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  left: 44px; }

#sushi_1 .veggies .veggie_2 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  left: 44px;
  background-color: #C5473E; }

#sushi_2 .rice_grain_1,
#sushi_2 .rice_grain_2 {
  left: 75px; }

#sushi_2 .rice_grain_3 {
  left: 55px;
  top: -3px; }

#sushi_3 .rice_grain_2 {
  top: 60px;
  left: 65px; }

#sushi_3 .rice_grain_1 {
  top: 55px;
  left: 6px; }

#sushi_3 .rice_grain_3 {
  left: 10px;
  top: 3px; }

#sushi_1 {
  animation: slideIn 3s;
  position: relative; }

#sushi_1 .rice, #sushi_2 .rice, #sushi_3 .rice {
  animation: rotate 3s; }

@keyframes slideDown1 {
  0% {
    top: -600px; }
  100% {
    top: -300px; } }
.heading {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
  text-align: center; }
  .heading_h1 {
    margin-top: 400px; }
  .heading_p {
    font-size: 25px; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.more_h {
  cursor: pointer;
  width: 110px; }

@media (max-width: 550px) {
  .content {
    transform: scale(0.5, 0.5);
    margin-bottom: 0; }

  .landing_info {
    transform: translateY(-120px); } }
.cart__item__close {
  cursor: pointer; }

.cart {
  display: grid;
  grid-gap: var(--base-padding);
  overflow: hidden; }

.cart h4 {
  margin: 0; }

.cart__item {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 2rem 7rem 3rem auto 1rem auto auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 2px dashed var(--color-gray-light);
  animation: .3s add-cart-item; }

@keyframes add-cart-item {
  from {
    margin-left: -200px;
    margin-right: 200px;
    opacity: 0; }
  to {
    margin-left: 0;
    margin-right: 0;
    opacity: 1; } }
.cart__item--removed {
  animation: .3s remove-cart-item; }

@keyframes remove-cart-item {
  to {
    margin-left: 200px;
    margin-right: -200px;
    opacity: 0; } }
@media screen and (min-width: 600px) {
  .cart__item__image {
    max-width: 38.5px; } }
.cart__item__price:before {
  content: '€'; }

.cart-footer {
  display: flex;
  justify-content: space-between;
  margin-top: var(--base-padding); }

.btn--danger {
  color: red; }

.btn--remove {
  padding-left: 4rem; }

.euro {
  font-size: 1.5rem;
  color: #f83744;
  margin-right: 1rem; }
